/* LoveStory.css */

body {
    font-family: 'Cursive', 'Lucida Handwriting', 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  #love-container {
    width: 62vw;
    height: 17vh;
    max-height: 17vh;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2); /* Transparan glossy */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
    border: 2px solid #e83e8c; /* Border merah muda */
  }
  
  #love-story {
    font-size: 0.9em;
    line-height: 1.8;
    color: #ffffff;
    margin-bottom: 20px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    overflow: auto;
  }
  
  @media (max-width: 768px) {
    #love-story {
      font-size: 11px;
    }
  }
  
  #pagination {
    position: absolute;
    bottom: 10px; /* Adjust this value as needed */
    left: 0;
    right: 0;
    margin-top: auto;
    text-align: center;
  }
  
  .page-dot {
    display: inline-block;
    width: 20px;
    height: 5px;
    border-radius: 20%;
    background-color: #aaa;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .page-dot.active {
    background-color: #e83e8c;
  }
  
  #next-btn {
    position: absolute;
    left: 3%;
    bottom: 35px; /* Adjust this value as needed */
    display: inline-block;
    padding: 3px 8px;
    background-color: #e83e8c;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.7em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #next-btn:hover {
    background-color: #c05688;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }  